#sayfa{
	background-color:#D9D9D9;
	width:1200px;
	height:1800px;
	margin-top:0px;
	margin-right:auto;
	margin-left:auto;
	padding-top:0px;
	
	
}

.temizle{clear:both;}

#ust{
	background-color:black;
	width:auto;
	height:50px;	
}

.ust_sag{
	float:right;
	margin-left:20px;
	color:white;
	text-align:center;
	line-height:50px;
	font-weight:bold;
	font-size:14px;
	margin-right:20px;
}

.resimm1{width:20px;}

.ust_sol{
	float:left;
	color:white;
	line-height:50px;
	text-indent:20px;
	font-size:12px;
	font-family:"Berlin Sans FB";

}

#ust1{
	background-color:white;
	width:auto;
	height:100px;
	
	
	
	
	
}

.ust_sol1{
	float:left;
	margin-right:220px;
	margin-left:25px;
	font-size:60px;
	line-height:100px;
	font-family: "Gill Sans MT Condensed";
	
	
	
	
}


.ust_sag1{
	float:right;
	margin-left:10px;
	font-size:20px;
	line-height:100px;
	margin-right:25px;
	font-style:italic;
	
	
	
}


#bir{
	line-height:100px;
	
	
}

.urun{
	float:left;
	line-height:30px;
	margin-left:18px;
	font-family:"Franklin Gothic Medium";
	font-size:13px;
	text-decoration:none;

}
#ust3{
	background-color:#C5C2C2;
	width:auto;
	height:30px;
	
	
}

body{
	margin:0px;
	padding:0px;
	background-image:url(img/arka1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	
	
}

#copyright{
	margin-top:-22px;
	margin-bottom:0px;
	padding-bottom:0px;
	background-color:black;
	height:34px;
	line-height:30px;
	text-align:center;
	color:White;
	font-size:12px;
	width:1180px;
	margin-left:10px;
	
}

#giriş{
	text-align:center;	
	
	
	
}

.Form{
	color:red;
	width:100px;
	
	
	
}

.buton{
	width:auto;
	height:30px;
	font-size:20px;
	margin-left:10px;
	
	
	
}

.butonn{
	width:auto;
	height:30px;
	font-size:20px;
	
	
	
}

pre{
	font-size:20px;

	
}

.kayittt{
	font-size:16px;
	margin-left:10px;

	
	
	
	
}

.kayitsayfa{
		text-decoration:none;
		color:black;
	
	
	
}

.ürünsayfasi{
	border:solid 3px black;
	min-height:1570px;
	height:auto;
	margin:10px;
	background-color:white;
	
}

.ürün1{
	height:130px;
	padding:5px;
	float:left;
	margin-left:10px;
	margin-right:5px;
	margin-bottom:10px;
	margin-top:10px;
	border:solid 1px ;
	
	
	
}
.ürün{
border:solid 2px;
width:150px;
height:250px;
float:left;
padding-left:20px;
padding-right:20px;
margin-left:20px;
margin-bottom:10px;
text-align:center;
line-height:-20px;
margin-top:10px;

}

.ürün2{
	height:130px;
	width:140px;
	padding:5px;
	float:left;
	margin-left:3px;
	margin-right:5px;
	margin-bottom:10px;
	margin-top:10px;
	border:solid 1px ;
	
	
	
	
}

.sosyal{
	height:10px;
	
	
}

#girisvekayit{
	min-height:1570px;
	height:auto;
	margin:10px;
	
	
}

#kayit{
	text-align:left;	
	
}

.buton1{
	background-color:#B6F1F0;
	border-radius:10px;
	border:none;
	
}

#Arama{
	float:right;
	position:relative;
	margin-top:-80px;
	top:42px;
	
}

#Aramaa{
	float:right;
	position:relative;
	top:6px;
	left:203px;
	background-color:none;
	
}

#aramabuton{
	width:210px;
	
	
	
}

#input{
	background:none;
	border:none;
	outline:0px;
}

.resimm2{
	width:33px;
	
}